image: docker:latest

stages:
  - build
  - test

variables:
  DOC_CONTAINER_IMAGE: $CI_REGISTRY_IMAGE:doc-$CI_BUILD_REF_NAME
  MOCK_CONTAINER_IMAGE: $CI_REGISTRY_IMAGE:mock-$CI_BUILD_REF_NAME
  TEST_CONTAINER_IMAGE: $CI_REGISTRY_IMAGE:test-$CI_BUILD_REF_NAME

before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY

build_mock:
  stage: build
  script:
    - docker build --pull -f mock/Dockerfile -t $MOCK_CONTAINER_IMAGE .
    - docker push $MOCK_CONTAINER_IMAGE
  tags:
    - docker-build

build_doc:
  stage: build
  script:
    - docker build --pull -f documentation/Dockerfile -t $DOC_CONTAINER_IMAGE .
    - docker push $DOC_CONTAINER_IMAGE
  tags:
    - docker-build

build_test:
  stage: build
  script:
    - docker build --pull -f documentation/Dockerfile -t $TEST_CONTAINER_IMAGE .
    - docker push $TEST_CONTAINER_IMAGE
  tags:
    - docker-build

test_api:
  stage: test
  script:
    - docker stop mock
    - docker rm mock
    - docker run --name mock -p 8005:80 -d $MOCK_CONTAINER_IMAGE
    - docker run --env TESTING_URI=http://api/v1 --link api:mock $TEST_CONTAINER_IMAGE
    - docker stop mock
    - docker rm mock
  tags:
    - docker-build

#deploy_dev:
#  variables:
#    GIT_STRATEGY: none
#  stage: deploy
#  only:
#    - dev
#  script:
#    - docker run --env RANCHER_URL="http://rancher.codenetix.com/v1/projects/1a17584" --env RANCHER_ACCESS_KEY="$RANCHER_ACCESS_KEY" --env RANCHER_SECRET_KEY="$RANCHER_SECRET_KEY" --env RANCHER_STACK_ID="1st133" --env RANCHER_STACK_NAME="Default" --env RANCHER_SERVICE_NAME="app" mildberrydigital/rancher-remote-upgrade:latest app