#%RAML 1.0

title: DMS API
version: v1
baseUri: http://dms.codenetix.com/{version}

types: !include allDataTypes.raml

resourceTypes:
  PaginateCollection: !include resourceTypes/paginateCollection.raml
  PaginationCollection: !include resourceTypes/paginationCollection.raml
  Collection: !include resourceTypes/collection.raml
  Item: !include resourceTypes/item.raml

/users:
  type:
    PaginateCollection:
      responseItem: User
      postRequestItem: UserPostRequest
      examplesJson: !include examples/Users.json
  /current:
    type:
      Item:
        responseItem: User
        putRequestItem: UserPutRequest
  /{id}:
    uriParameters:
      id:
        type: integer
        example: 1
        default: 1
    type:
      Item:
        responseItem: User
        putRequestItem: UserPutRequest

/templates:
  type:
    PaginateCollection:
      responseItem: Template
      postRequestItem: TemplateRequest
      examplesJson: !include examples/Templates.json
  /{id}:
    uriParameters:
      id:
        type: integer
        example: 1
        default: 1
    type:
      Item:
        responseItem: Template
        putRequestItem: TemplateRequest
    /attributes:
      type:
        PaginateCollection:
          responseItem: Attribute
          postRequestItem: AttributeRequest
          examplesJson: !include examples/Attributes.json
      /{attributeId}:
        uriParameters:
          attributeId:
            type: integer
            example: 1
            default: 1
        type:
          Item:
            responseItem: Attribute
            putRequestItem: AttributeRequest
/documents:
  type:
    PaginateCollection:
      responseItem: Document
      postRequestItem: DocumentPostRequest
      examplesJson: !include examples/Documents.json
  /{id}:
    uriParameters:
      id:
        type: integer
        example: 1
        default: 1
    type:
      Item:
        responseItem: Document
        putRequestItem: DocumentPutRequest
    /actualVersion:
      post:
        body:
          application/json:
            type: DocumentSetActualVersionRequest
        responses:
          200:
            description:
              Success
            body:
              application/json:
                Document

/documents/{id}/versions:
  uriParameters:
    id:
      type: integer
      example: 1
      default: 1
  type:
    PaginateCollection:
      responseItem: DocumentVersion
      postRequestItem: DocumentVersionRequest
      examplesJson: !include examples/DocumentVersions.json
  /{versionId}:
    uriParameters:
      versionId:
        type: integer
        example: 1
        default: 1
    type:
      Item:
        responseItem: DocumentVersion
        putRequestItem: DocumentVersionRequest

/types:
  type:
    Collection:
      responseItem: Type
      examplesJson: !include examples/Types.json

/labels:
  type:
    PaginateCollection:
      responseItem: Label
      postRequestItem: LabelRequest
      examplesJson: !include examples/Labels.json
  /{id}:
    uriParameters:
      id:
        type: integer
        example: 1
        default: 1
    type:
      Item:
        responseItem: Label
        putRequestItem: LabelRequest

/roles:
  type:
    PaginateCollection:
      responseItem: Role
      postRequestItem: RoleRequest
      examplesJson: !include examples/Roles.json
  /{id}:
    uriParameters:
      id:
        type: integer
        example: 1
        default: 1
    type:
      Item:
        responseItem: Role
        putRequestItem: RoleRequest

/oauth:
  /token:
    post:
      body:
        application/json:
          type: AuthRequest
      responses:
        200:
          description:
            Success Auth
          body:
            application/json:
              Auth
  /logout:
    post:
      responses:
        204:
          description:
            Success logout
  /resetEmail:
    post:
      body:
        application/json:
          type: ResetEmailRequest
      responses:
        204:
          description:
            Email was sent
  /resetPassword/{hash}:
    uriParameters:
      hash:
        type: string
        example: f5f2f2ec355835af36fea2ad93ac3de6
        default: f5f2f2ec355835af36fea2ad93ac3de6
    post:
      body:
        application/json:
          type: ResetPasswordRequest
      responses:
        204:
          description:
            Success

/permission-groups:
  type:
    Collection:
      responseItem: PermissionGroup
      examplesJson: !include examples/PermissionGroups.json

/files:
  post:
    body:
      multipart/form-data:
        properties:
          file:
            description: The file to be uploaded.
            required: true
            type: file
    responses:
      201:
        description:
          Success Upload
        body:
          application/json:
            type: object
            properties:
              id: integer
            example:
              id: 1

/logs:
  type:
    PaginationCollection:
      responseItem: Log
      examplesJson: !include examples/Logs.json