#%RAML 1.0

title: DMS API
version: v1
baseUri: http://dms.codenetix.com/{version}
types:
  User: !include types/user.raml
  UserRequest: !include requestTypes/user.raml
  Template: !include types/template.raml
  TemplateRequest: !include requestTypes/template.raml
  Attribute: !include types/attribute.raml
  AttributeRequest: !include requestTypes/attribute.raml
  Type: !include types/type.raml
  Document: !include types/document.raml
  DocumentPostRequest: !include requestTypes/document.raml
  DocumentPutRequest: !include requestTypes/documentPut.raml
  Label: !include types/label.raml
  LabelRequest: !include requestTypes/label.raml
resourceTypes:
  PaginateCollection: !include ./resourceTypes/paginateCollection.raml
  Collection: !include ./resourceTypes/collection.raml
  Item: !include ./resourceTypes/item.raml

/users:
  type:
    PaginateCollection:
      responseItem: User
      postRequestItem: UserRequest
      examplesJson: !include examples/Users.json
  /{id}:
    uriParameters:
      id:
        type: integer
        example: 1
        default: 1
    type:
      Item:
        responseItem: User
        putRequestItem: UserRequest

/templates:
  type:
    PaginateCollection:
      responseItem: Template
      postRequestItem: TemplateRequest
      examplesJson: !include examples/Templates.json
  /{id}:
    uriParameters:
      id:
        type: integer
        example: 1
        default: 1
    type:
      Item:
        responseItem: Template
        putRequestItem: TemplateRequest
    /attributes:
      type:
        PaginateCollection:
          responseItem: Attribute
          postRequestItem: AttributeRequest
          examplesJson: !include examples/Attributes.json
      /{attributeId}:
        uriParameters:
          attributeId:
            type: integer
            example: 1
            default: 1
        type:
          Item:
            responseItem: Attribute
            putRequestItem: AttributeRequest
/documents:
  type:
    PaginateCollection:
      responseItem: Document
      postRequestItem: DocumentPostRequest
      examplesJson: !include examples/Documents.json
  /{id}:
    uriParameters:
      id:
        type: integer
        example: 1
        default: 1
    type:
      Item:
        responseItem: Document
        putRequestItem: DocumentPutRequest

/documents/{id}/versions:
  type:
    PaginateCollection:
      responseItem: DocumentVersion
      examplesJson: !include examples/Documents.json
  /{id}:
    uriParameters:
      id:
        type: integer
        example: 1
        default: 1
    type:
      Item:
        responseItem: Document
        putRequestItem: DocumentPutRequest

/types:
  type:
    Collection:
      responseItem: Type
      examplesJson: !include examples/Types.json

/labels:
  type:
    PaginateCollection:
      responseItem: Label
      postRequestItem: LabelRequest
      examplesJson: !include examples/Labels.json
  /{id}:
    uriParameters:
      id:
        type: integer
        example: 1
        default: 1
    type:
      Item:
        responseItem: Label
        putRequestItem: LabelRequest
